openapi: 3.0.3
info:
  title: Starlink — Личный кабинет абонента
  description: |
    API телеком-оператора для мобильного приложения личного кабинета.
    
    Аутентификация осуществляется via JWT Bearer Token.
    Токен получается при авторизации и действует 365 дней.
    
    ## Внешние интеграции

    Бэкенд выступает оркестратором между приложением и сторонними сервисами.
    Приложение напрямую не обращается к внешним сервисам.
    
    - **Платёжный шлюз**: Банк Русский Стандарт (RSB ECOMM v3.0.17)
    - **СБП**: Система быстрых платежей через Сбербанк
    - **Push-уведомления**: Firebase Cloud Messaging (FCM)
    - **SMS-шлюз**: Devino Telecom
    - **Биллинг**: Starlink BSS (starlink-api v1.0.0)
    
    Подробная архитектура: см. `ARCHITECTURE.md`.
    
    **Базовый URL для продакшена:** `https://api.starlink.ru/api`
    **Базовый URL для эмулятора:** `http://10.0.2.2:3000/api`
  version: 3.0.0
  contact:
    name: Starlink API Support

servers:
  - url: https://api.starlink.ru/api
    description: Production
  - url: http://10.0.2.2:3000/api
    description: Android Emulator (localhost)

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Авторизация, OTP-верификация
  - name: Account
    description: Профиль абонента, балансы, счета
  - name: Payments
    description: Платёжный шлюз РСБ, СБП, пополнение
  - name: Transactions
    description: История транзакций (из Биллинга)
  - name: Services
    description: Услуги, тарифы, доп. услуги, пакеты
  - name: Support
    description: Обращения в техподдержку
  - name: Push
    description: Регистрация устройств, настройки FCM
  - name: Billing
    description: Счета, биллинг, обещанный платёж

paths:
  # ═══════════════════════════════════════════════════════
  #  AUTH
  # ═══════════════════════════════════════════════════════
  /auth/login:
    post:
      operationId: login
      tags: [Auth]
      summary: Авторизация по ПИН-коду и паролю
      description: |
        Проверяет учётные данные в Биллинге (BSS /api/v1/auth/token) и возвращает JWT.
        Proxy-эндпоинт → Биллинг.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              pin:
                summary: Вход по ПИН
                value:
                  pin: "039103"
                  password: "123456"
      responses:
        '200':
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/request-otp:
    post:
      operationId: requestOtp
      tags: [Auth]
      summary: Запросить SMS с OTP-кодом
      description: |
        Генерирует 6-значный код, отправляет SMS через Devino Telecom.
        Код валиден 3 минуты. Rate limit: 1 запрос / 60 секунд на номер.
        Proxy-эндпоинт → Devino Telecom.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestOtpRequest'
      responses:
        '200':
          description: SMS отправлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestOtpResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/verify-otp:
    post:
      operationId: verifyOtp
      tags: [Auth]
      summary: Проверить OTP-код
      description: |
        Проверяет введённый код. При успехе — авторизует в Биллинге и возвращает JWT.
      security: []
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/VerifyOtpRequest'
      responses:
        '200':
          description: Код верный
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Неверный или просроченный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpError'

  # ═════════════════════════════════════════════════════════
  #  ACCOUNT
  # ═══════════════════════════════════════════════════════
  /account/profile:
    get:
      operationId: getAccountProfile
      tags: [Account]
      summary: Профиль абонента
      description: |
        Данные абонента, баланс, список активных услуг.
        Proxy → Биллинг: GET /api/v1/subscriber + /accounts + /services.
      responses:
        '200':
          description: Профиль загружен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════════════════════════════════
  #  PAYMENTS (РСБ ECOMM + СБП)
  # ═══════════════════════════════════════════════════════
  /payments/create:
    post:
      operationId: createPayment
      tags: [Payments]
      summary: Создать платёжную сессию
      description: |
        Создаёт транзакцию и инициирует платёжную сессию.
        
        **Метод `rsb` (карта):** Бэкенд вызывает РСБ ECOMM (command=v), получает trans_id,
        формирует URL платёжной страницы и возвращает его для открытия в WebView.
        
        **Метод `sbp` (СБП):** Бэкенд вызывает СБП API (POST /api/v1/create),
        получает qrcode_link и возвращает для показа QR-кода.
        
        **Метод `promise` (обещанный платёж):** Обрабатывается биллингом без внешнего шлюза.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              rsb_card:
                summary: Оплата картой через РСБ
                value:
                  amount: 16900
                  method: rsb
                  description: "Оплата тарифа: Интернет 100 Мбит/с"
              sbp:
                summary: Оплата через СБП
                value:
                  amount: 50000
                  method: sbp
                  description: "Пополнение баланса"
              promise:
                summary: Обещанный платёж
                value:
                  amount: 50000
                  method: promise
      responses:
        '200':
          description: Платёжная сессия создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Метод оплаты недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /payments/{paymentId}/status:
    get:
      operationId: getPaymentStatus
      tags: [Payments]
      summary: Статус платежа
      description: |
        Возвращает текущий статус.
        
        **Метод `rsb`:** Бэкенд вызывает РСБ ECOMM (command=c) по trans_id.
        
        **Метод `sbp`:** Бэкенд вызывает СБП API (GET /api/v1/status/{order_id}).
        
        Приложение должно поллить этот эндпоинт после возврата из WebView.
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
          description: ID платёжной сессии (из /payments/create)
          example: "pay_a1b2c3d4"
      responses:
        '200':
          description: Статус платежа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/webhook/rsb:
    post:
      operationId: rsbPaymentWebhook
      tags: [Payments]
      summary: Webhook от РСБ ECOMM
      description: |
        Callback от Банка Русский Стандарт при изменении статуса платежа.
        Бэкенд верифицирует IP-источника, обновляет статус транзакции,
        начисляет средства в Биллинге, отправляет Push (FCM) и SMS (Devino).
        **Вызывается платёжным шлюзом, НЕ приложением.**
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: |
                Поля из POST-запроса РСБ при редиректе на RETURN_URL.
                Ключевые: trans_id, RESULT, RESULT_PS, RESULT_CODE,
                RRN, APPROVAL_CODE, CARD_NUMBER.
      responses:
        '200':
          description: Webhook обработан

  /payments/webhook/sbp:
    post:
      operationId: sbpPaymentCallback
      tags: [Payments]
      summary: Callback от СБП (Сбербанк)
      description: |
        Callback от Сбербанка при изменении статуса СБП-платежа.
        Бэкенд верифицирует HMAC-подпись, обновляет статус,
        начисляет в Биллинге, отправляет Push.
        **Вызывается Сбербанком, НЕ приложением.**
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SbpCallbackData'
      responses:
        '200':
          description: Callback обработан

  # ═══════════════════════════════════════════════════════
  #  TRANSACTIONS (из Биллинга)
  # ═══════════════════════════════════════════════════════
  /transactions:
    post:
      operationId: getTransactions
      tags: [Transactions]
      summary: История транзакций
      description: |
        История операций из Биллинга с фильтрацией по датам.
        Proxy → Биллинг: POST /api/v1/subscriber/accounts/{id}/transactions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
      responses:
        '200':
          description: Список транзакций
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════════════════════════════════
  #  SERVICES (из Биллинга)
  # ═══════════════════════════════════════════════════════
  /services/{serviceId}/tariffs:
    get:
      operationId: getAvailableTariffs
      tags: [Services]
      summary: Доступные тарифы для услуги
      description: |
        Proxy → Биллинг: GET /api/v1/subscriber/accounts/{id}/services/{sid}/tariffs.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список тарифов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /services/{serviceId}/change:
    patch:
      operationId: changeService
      tags: [Services]
      summary: Изменить услугу
      description: |
        Смена тарифа, приостановка/возобновление услуги.
        Proxy → Биллинг: PATCH /api/v1/subscriber/accounts/{id}/services/{sid}.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeServiceRequest'
      responses:
        '200':
          description: Услуга изменена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceActionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /services/{serviceId}/additional:
    get:
      operationId: getAdditionalServices
      tags: [Services]
      summary: Дополнительные услуги
      description: |
        Proxy → Биллинг: GET /.../services/{sid}/additional-services.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список доп. услуг
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdditionalService'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /services/{serviceId}/additional/{additionalId}:
    patch:
      operationId: toggleAdditionalService
      tags: [Services]
      summary: Подключить/отключить доп. услугу
      description: |
        Proxy → Биллинг: PATCH /.../additional-services/{asid}.
        action: 1 = подключить, 0 = отключить.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
        - name: additionalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdditionalServiceActionRequest'
      responses:
        '200':
          description: Статус обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceActionResponse'

  /bundles:
    get:
      operationId: getBundles
      tags: [Services]
      summary: Пакеты услуг
      description: |
        Proxy → Биллинг: GET /api/v1/bundles.
      responses:
        '200':
          description: Список пакетов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesResponse'

  # ═══════════════════════════════════════════════════════
  #  SUPPORT
  # ═══════════════════════════════════════════════════════
  /support:
    get:
      operationId: getMyTickets
      tags: [Support]
      summary: Список обращений
      description: Возвращает все обращения текущего пользователя.
      responses:
        '200':
          description: Список обращений
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportTicket'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTicket
      tags: [Support]
      summary: Создать обращение
      description: |
        Создаёт тикет в Биллинге и отправляет SMS-уведомление оператору через Devino.
        Proxy → Биллинг: POST /api/v1/support/send-email + Devino SMS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '200':
          description: Обращение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicket'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════════════════════════════════
  #  PUSH (FCM)
  # ═══════════════════════════════════════════════════════
  /devices/register:
    post:
      operationId: registerDevice
      tags: [Push]
      summary: Зарегистрировать устройство для push
      description: |
        Приложение вызывает при запуске и при каждом обновлении FCM-токена.
        Бэкенд сохраняет привязку user_id → fcm_token → platform в БД.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '200':
          description: Устройство зарегистрировано
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices/unregister:
    post:
      operationId: unregisterDevice
      tags: [Push]
      summary: Отвязать устройство
      description: |
        Вызывается при выходе из аккаунта.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnregisterDeviceRequest'
      responses:
        '200':
          description: Устройство отвязано

  /notifications/preferences:
    get:
      operationId: getNotificationPreferences
      tags: [Push]
      summary: Настройки уведомлений
      responses:
        '200':
          description: Текущие настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateNotificationPreferences
      tags: [Push]
      summary: Обновить настройки
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Настройки обновлены

  # ═══════════════════════════════════════════════════════
  #  BILLING (BSS)
  # ═══════════════════════════════════════════════════════
  /billing/invoice:
    get:
      operationId: getCurrentInvoice
      tags: [Billing]
      summary: Текущий счёт
      description: |
        Детализация расчётного периода из Биллинга.
      responses:
        '200':
          description: Счёт загружен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /billing/promised-pay:
    get:
      operationId: getPromisedPayTerms
      tags: [Billing]
      summary: Условия обещанного платежа
      description: |
        Proxy → Биллинг: GET /api/v1/resources/promised-pay-terms.
      responses:
        '200':
          description: Условия получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromisedPayTermsResponse'

  /billing/pay-link:
    get:
      operationId: getPayLink
      tags: [Billing]
      summary: Ссылка на оплату
      description: |
        Proxy → Биллинг: GET /api/v1/subscriber/accounts/{id}/pay-link.
      responses:
        '200':
          description: Ссылка получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayLinkResponse'

  /billing/auto-pay:
    get:
      operationId: getAutoPayLink
      tags: [Billing]
      summary: Ссылка для подключения автоплатежа
      description: |
        Proxy → Биллинг: GET /.../auto-payment-link.
      responses:
        '200':
          description: Ссылка получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayLinkResponse'

  /billing/auto-pay:
    delete:
      operationId: disableAutoPay
      tags: [Billing]
      summary: Отключить автоплатёж
      description: |
        Proxy → Биллинг: GET /.../auto-payment-off.
      responses:
        '200':
          description: Автоплатёж отключён

# ─── Components ──────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT-токен из POST /auth/login или POST /auth/verify-otp.
        Срок действия — 365 дней.

  schemas:
    # ─── Auth ──────────────────────────────
    LoginRequest:
      type: object
      required: [pin, password]
      properties:
        pin:
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^[0-9]{6}$'
          example: "039103"
        password:
          type: string
          minLength: 4
          example: "123456"

    RequestOtpRequest:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          pattern: '^7[0-9]{10}$'
          example: "79001234567"
          description: Телефон (11 цифр, без +)

    RequestOtpResponse:
      type: object
      properties:
        expiresIn:
          type: integer
          example: 180
          description: Время жизни OTP в секундах
        attemptsLeft:
          type: integer
          example: 3

    VerifyOtpRequest:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
          example: "79001234567"
        code:
          type: string
          pattern: '^[0-9]{6}$'
          example: "482916"

    OtpError:
      type: object
      properties:
        error:
          type: string
          enum: [invalid_code, expired, too_many_attempts]
        message:
          type: string
          example: "Неверный код. Осталось попыток: 2"

    LoginResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIs..."
        user:
          $ref: '#/components/schemas/User'

    # ─── Payments (РСБ + СБП) ────────────
    CreatePaymentRequest:
      type: object
      required: [amount, method]
      properties:
        amount:
          type: number
          format: double
          minimum: 100
          maximum: 5000000
          description: |
            Сумма.
            Для method=rsb — в рублях (копейки внутри, напр. 16900 = 169.00 р.).
            Для method=sbp — в рублях (500 = 500 р.).
            Бэкенд нормализует для каждого провайдера.
          example: 16900
        method:
          type: string
          enum: [rsb, sbp, promise]
          description: |
            - `rsb` — Банковская карта через Банк Русский Стандарт
            - `sbp` — Система быстрых платежей (Сбербанк)
            - `promise` — Обещанный платёж (Биллинг, без шлюза)
          example: "rsb"
        description:
          type: string
          maxLength: 125
          example: "Оплата тарифа: Интернет 100 Мбит/с"
        serviceId:
          type: string
          nullable: true
          description: ID услуги для привязки

    CreatePaymentResponse:
      type: object
      required: [paymentId, status, paymentUrl]
      properties:
        paymentId:
          type: string
          example: "pay_a1b2c3d4"
          description: |
            Для method=rsb: внутренний ID + trans_id РСБ.
            Для method=sbp: internal ID + order_id СБП.
        status:
          type: string
          enum: [pending, created]
          example: "pending"
        paymentUrl:
          type: string
          format: uri
          description: |
            Для rsb: URL платёжной страницы РСБ (ClientHandler) для WebView.
            Для sbp: qrcode_link для генерации QR-кода.
            Для promise: null.
          example: "https://securepay2.rsb.ru/ecomm2/ClientHandler?trans_id=..."
        providerTransactionId:
          type: string
          nullable: true
          description: trans_id (РСБ) или order_id (СБП)

    PaymentStatusResponse:
      type: object
      required: [paymentId, status]
      properties:
        paymentId:
          type: string
          example: "pay_a1b2c3d4"
        status:
          type: string
          enum: [pending, success, failed, expired, refunded]
          description: |
            Нормализованный статус из РСБ/СБП. См. ARCHITECTURE.md §1.7 и §2.5.
          example: "success"
        amount:
          type: number
          format: double
          example: 16900
        newBalance:
          type: number
          format: double
          nullable: true
          description: Обновлённый баланс (при status=success)
          example: 150000
        paidAt:
          type: string
          format: date-time
          nullable: true
        providerTransactionId:
          type: string
          nullable: true
          description: RRN (РСБ) или order_id (СБП)
        maskedCard:
          type: string
          nullable: true
          description: Маскированный номер карты (только для method=rsb)
          example: "5***********2372"
        errorMessage:
          type: string
          nullable: true

    SbpCallbackData:
      type: object
      required: [mdOrder, orderNumber, operation, status]
      description: |
        Данные callback от Сбербанка (СБП). См. openapi_sbp.json.
      properties:
        mdOrder:
          type: string
          description: Номер заказа в платёжном шлюзе
        orderNumber:
          type: string
          description: Номер заказа партнёра
        operation:
          type: string
          description: Тип операции (deposited, approved, reversed)
        status:
          type: integer
          minimum: 0
          maximum: 10
          description: "0 = неуспешно, 1 = успешно"
        additionalParams:
          type: object
          nullable: true

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: "validation_error"
        message:
          type: string
          example: "Метод оплаты 'promise' недоступен"

    # ─── Push / Devices ─────────────────────
    RegisterDeviceRequest:
      type: object
      required: [fcmToken, platform]
      properties:
        fcmToken:
          type: string
          example: "dGhpcyBpcyBhIGZha2UgdG9rZW4="
        platform:
          type: string
          enum: [android, ios]
        deviceId:
          type: string
          example: "a1b2c3d4e5f6"
        appVersion:
          type: string
          example: "1.0.0"

    UnregisterDeviceRequest:
      type: object
      required: [fcmToken]
      properties:
        fcmToken:
          type: string

    NotificationPreferences:
      type: object
      properties:
        paymentSuccess:
          type: boolean
          default: true
        paymentFailed:
          type: boolean
          default: true
        balanceLow:
          type: boolean
          default: true
        serviceExpiring:
          type: boolean
          default: true
        newsAndPromo:
          type: boolean
          default: true
        supportReply:
          type: boolean
          default: true

    # ─── Billing ─────────────────────────────
    PromisedPayTermsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          description: Условия обещанного платежа
        message:
          type: string

    PayLinkResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: Ссылка на оплату
        message:
          type: string

    # ─── Account ─────────────────────────────
    AccountProfileResponse:
      type: object
      required: [user, balance, activeServices]
      properties:
        user:
          $ref: '#/components/schemas/User'
        balance:
          $ref: '#/components/schemas/Balance'
        activeServices:
          type: array
          items:
            $ref: '#/components/schemas/Service'

    # ─── Entities ────────────────────────────
    User:
      type: object
      required: [id, fullName, createdAt]
      properties:
        id:
          type: string
          example: "039103"
        fullName:
          type: string
          example: "Валиев Закир"
        phone:
          type: string
          nullable: true
          example: "+7 900 123 45 67"
        avatarUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time

    Balance:
      type: object
      required: [amount, currency, isPaid, lastUpdated]
      properties:
        amount:
          type: number
          format: double
          example: 100500
        currency:
          type: string
          example: "RUB"
        paidUntil:
          type: string
          format: date-time
          nullable: true
        isPaid:
          type: boolean
        lastUpdated:
          type: string
          format: date-time

    Service:
      type: object
      required: [id, name, category, cost, status]
      properties:
        id:
          type: string
          example: "srv_internet_100"
        name:
          type: string
          example: "Интернет 100 Мбит/с"
        category:
          type: string
          example: "internet"
        cost:
          type: number
          format: double
          example: 16900
        status:
          type: string
          enum: [active, expired, paused, error]
        billingCycle:
          type: string
          nullable: true
          example: "monthly"

    Transaction:
      type: object
      required: [id, type, amount, description, date, status]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [topUp, payment, refund, bonus]
        amount:
          type: number
          format: double
          example: 16900
        description:
          type: string
          example: "Оплата через РСБ"
        date:
          type: string
          format: date-time
        status:
          type: string
          enum: [success, pending, failed]
        paymentMethod:
          type: string
          nullable: true
          enum: [rsb, sbp, promise, internal]
        providerTransactionId:
          type: string
          nullable: true
          description: RRN (РСБ) или order_id (СБП)

    TransactionsRequest:
      type: object
      properties:
        start_date:
          type: string
          nullable: true
          example: "2025-01-01"
        end_date:
          type: string
          nullable: true
          example: "2025-08-25"

    ChangeServiceRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [change-tariff, suspend, unsuspend]
          example: "change-tariff"
        tariffId:
          type: integer
          nullable: true
          example: 100
        date_start:
          type: string
          nullable: true
          example: "2025-01-01"
        date_end:
          type: string
          nullable: true
          example: "2025-04-01"

    ServiceActionResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          example: "Тариф изменён"
        effectiveFrom:
          type: string
          format: date-time
          nullable: true

    AdditionalService:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cost:
          type: number
        isActive:
          type: boolean

    AdditionalServiceActionRequest:
      type: object
      required: [action]
      properties:
        action:
          type: integer
          description: "0 = отключить, 1 = подключить"
          example: 1

    BundlesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              bid:
                type: integer
              name:
                type: string
              caption:
                type: string
        message:
          type: string

    TariffsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              cost:
                type: number
              speed:
                type: string
                nullable: true
        message:
          type: string

    SupportTicket:
      type: object
      required: [id, subject, description, status, createdAt]
      properties:
        id:
          type: string
        subject:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [open, inProgress, resolved, closed]
        createdAt:
          type: string
          format: date-time
        replyCount:
          type: integer
          default: 0

    CreateTicketRequest:
      type: object
      required: [subject, description]
      properties:
        subject:
          type: string
          maxLength: 200
          example: "Не работает интернет"
        description:
          type: string
          example: "С yesterday evening there is no connection"

    InvoiceResponse:
      type: object
      required: [invoiceId, period, items, subtotal, total]
      properties:
        invoiceId:
          type: string
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
        subtotal:
          type: number
          format: double
        discount:
          type: number
          format: double
        total:
          type: number
          format: double
        dueDate:
          type: string
          format: date
        status:
          type: string
          enum: [pending, paid, overdue]

    InvoiceItem:
      type: object
      properties:
        serviceId:
          type: string
        serviceName:
          type: string
        cost:
          type: number
          format: double
        daysUsed:
          type: integer
        dailyRate:
          type: number
          format: double

  responses:
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Not found"
    TooManyRequests:
      description: Слишком много запросов
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "too_many_requests"
              retryAfter:
                type: integer
                example: 60
