openapi: 3.0.3
info:
  title: Starlink — Личный кабинет абонента
  description: |
    API телеком-оператора для мобильного приложения личного кабинета.
    
    Аутентификация осуществляется via JWT Bearer Token.
    Токен получается при авторизации и действует 365 дней.
    
    **Базовый URL для продакшена:** `https://api.starlink.uz/api`
    **Базовый URL для эмулятора:** `http://10.0.2.2:3000/api`
  version: 1.0.0
  contact:
    name: Starlink API Support

servers:
  - url: https://api.starlink.uz/api
    description: Production
  - url: http://10.0.2.2:3000/api
    description: Android Emulator (localhost)

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Авторизация
  - name: Account
    description: Профиль, баланс, услуги
  - name: Transactions
    description: История транзакций
  - name: News
    description: Новости и уведомления
  - name: Support
    description: Обращения в техподдержку

paths:
  # ─── Auth ─────────────────────────────────────────────
  /auth/login:
    post:
      operationId: login
      tags: [Auth]
      summary: Авторизация по ПИН-коду и паролю
      description: |
        Проверяет учётные данные и возвращает JWT-токен.
        Для пользователя с ПИН `039103` возвращаются моковые данные.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              pin:
                summary: Вход по ПИН
                value:
                  pin: "039103"
                  password: "123456"
      responses:
        '200':
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─── Account Profile ───────────────────────────────────
  /account/profile:
    get:
      operationId: getAccountProfile
      tags: [Account]
      summary: Получить профиль аккаунта
      description: |
        Возвращает профиль пользователя, текущий баланс и список
        активных услуг одним запросом. Клиент извлекает нужные
        секции из ответа (`user`, `balance`, `activeServices`).
      responses:
        '200':
          description: Профиль загружен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─── Top Up ────────────────────────────────────────────
  /top-up:
    post:
      operationId: topUpBalance
      tags: [Account]
      summary: Пополнить баланс
      description: Начисляет указанную сумму на баланс пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpRequest'
            example:
              amount: 50000
      responses:
        '200':
          description: Баланс пополнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopUpResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─── Transactions ──────────────────────────────────────
  /transactions:
    get:
      operationId: getTransactions
      tags: [Transactions]
      summary: История транзакций
      description: |
        Возвращает список транзакций с пагинацией.
        Клиент фильтрует по дате на своей стороне.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Список транзакций
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─── News ──────────────────────────────────────────────
  /news:
    get:
      operationId: getNewsList
      tags: [News]
      summary: Список новостей
      description: Возвращает ленту новостей с пагинацией.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Список новостей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /news/{id}:
    get:
      operationId: getNewsById
      tags: [News]
      summary: Новость по ID
      description: Возвращает полную информацию о конкретной новости.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор новости
          example: "news_001"
      responses:
        '200':
          description: Данные новости
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─── Support ───────────────────────────────────────────
  /support:
    get:
      operationId: getMyTickets
      tags: [Support]
      summary: Список обращений
      description: Возвращает все обращения текущего пользователя.
      responses:
        '200':
          description: Список обращений
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportTicket'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTicket
      tags: [Support]
      summary: Создать обращение
      description: |
        Создаёт новое обращение в техподдержку.
        Начальное значение статуса — `open`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
            example:
              subject: "Не работает интернет"
              description: "С yesterday evening there is no connection, router shows red light"
      responses:
        '200':
          description: Обращение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicket'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─── Components ──────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT-токен, полученный из `POST /auth/login`.
        Срок действия — 365 дней.
        Передаётся в заголовке `Authorization: Bearer <token>`.

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Номер страницы
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Количество элементов на странице

  schemas:
    # ─── Request Schemas ────────────────────────────────
    LoginRequest:
      type: object
      required: [pin, password]
      properties:
        pin:
          type: string
          description: 6-значный ПИН-код пользователя
          minLength: 6
          maxLength: 6
          pattern: '^[0-9]{6}$'
          example: "039103"
        password:
          type: string
          description: Пароль пользователя
          example: "123456"

    TopUpRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: number
          format: double
          description: Сумма пополнения
          minimum: 0.01
          example: 50000

    CreateTicketRequest:
      type: object
      required: [subject, description]
      properties:
        subject:
          type: string
          description: Тема обращения
          minLength: 1
          maxLength: 200
          example: "Не работает интернет"
        description:
          type: string
          description: Описание проблемы
          minLength: 1
          example: "С yesterday evening there is no connection"

    # ─── Response Schemas ───────────────────────────────
    LoginResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
          description: JWT-токен (срок действия 365 дней)
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          $ref: '#/components/schemas/User'

    AccountProfileResponse:
      type: object
      required: [user, balance, activeServices]
      description: |
        Композитный ответ — клиент извлекает нужную секцию.
        `user` — для профиля, `balance` — для баланса,
        `activeServices` — для списка услуг.
      properties:
        user:
          $ref: '#/components/schemas/User'
        balance:
          $ref: '#/components/schemas/Balance'
        activeServices:
          type: array
          items:
            $ref: '#/components/schemas/Service'

    TopUpResponse:
      type: object
      required: [newBalance]
      properties:
        newBalance:
          type: number
          format: double
          description: Обновлённый баланс после пополнения
          example: 150000

    # ─── Entity Schemas ─────────────────────────────────
    User:
      type: object
      required: [id, fullName, createdAt]
      properties:
        id:
          type: string
          description: Уникальный идентификатор пользователя
          example: "039103"
        fullName:
          type: string
          description: Полное имя пользователя
          example: "Валиев Закир"
        phone:
          type: string
          nullable: true
          description: Номер телефона
          example: "+998 90 123 45 67"
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: URL аватара
        createdAt:
          type: string
          format: date-time
          description: Дата регистрации (ISO 8601)
          example: "2024-01-15T10:30:00Z"

    Balance:
      type: object
      required: [amount, currency, isPaid, lastUpdated]
      properties:
        amount:
          type: number
          format: double
          description: Текущий баланс
          example: 100500
        currency:
          type: string
          description: Код валюты
          example: "UZS"
        paidUntil:
          type: string
          format: date-time
          nullable: true
          description: Дата, до которой оплачен тариф
          example: "2025-09-01T00:00:00Z"
        isPaid:
          type: boolean
          description: Оплачен ли текущий период
          example: true
        lastUpdated:
          type: string
          format: date-time
          description: Последнее обновление баланса
          example: "2025-08-24T12:00:00Z"

    Service:
      type: object
      required: [id, name, category, cost, status]
      properties:
        id:
          type: string
          description: ID услуги
          example: "srv_internet_100"
        name:
          type: string
          description: Название услуги
          example: "Интернет 100 Мбит/с"
        category:
          type: string
          description: Категория услуги
          example: "internet"
        cost:
          type: number
          format: double
          description: Стоимость за расчётный период
          example: 169000
        status:
          type: string
          enum: [active, expired, paused, error]
          default: active
          description: Текущий статус услуги
          example: "active"
        iconUrl:
          type: string
          format: uri
          nullable: true
          description: URL иконки услуги
        warningMessage:
          type: string
          nullable: true
          description: Предупреждение (например, «осталось 3 дня»)
        billingCycle:
          type: string
          nullable: true
          description: Расчётный период
          example: "monthly"

    Transaction:
      type: object
      required: [id, type, amount, description, date, status]
      properties:
        id:
          type: string
          description: ID транзакции
          example: "txn_20250824_001"
        type:
          type: string
          enum: [topUp, payment, refund, bonus]
          default: payment
          description: Тип транзакции
          example: "payment"
        amount:
          type: number
          format: double
          description: Сумма транзакции
          example: 169000
        description:
          type: string
          description: Описание транзакции
          example: "Оплата: Интернет 100 Мбит/с"
        date:
          type: string
          format: date-time
          description: Дата и время транзакции (ISO 8601)
          example: "2025-08-24T14:30:00Z"
        status:
          type: string
          enum: [success, pending, failed]
          default: success
          description: Статус транзакции
          example: "success"
        relatedServiceId:
          type: string
          nullable: true
          description: ID связанной услуги
          example: "srv_internet_100"

    NewsItem:
      type: object
      required: [id, title, summary, publishedAt]
      properties:
        id:
          type: string
          description: ID новости
          example: "news_001"
        title:
          type: string
          description: Заголовок
          example: "Новое тарифное предложение "Безлимит""
        summary:
          type: string
          description: Краткое содержание
          example: "Запущен новый безлимитный тариф для абонентов..."
        imageUrl:
          type: string
          format: uri
          nullable: true
          description: URL изображения
        publishedAt:
          type: string
          format: date-time
          description: Дата публикации (ISO 8601)
          example: "2025-08-20T09:00:00Z"
        readCount:
          type: integer
          nullable: true
          description: Количество просмотров
          example: 1234
        tags:
          type: array
          items:
            type: string
          description: Теги новости
          example: ["тариф", "акция"]

    SupportTicket:
      type: object
      required: [id, subject, description, status, createdAt]
      properties:
        id:
          type: string
          description: ID обращения
          example: "ticket_001"
        subject:
          type: string
          description: Тема обращения
          example: "Не работает интернет"
        description:
          type: string
          description: Описание проблемы
          example: "С yesterday evening there is no connection"
        status:
          type: string
          enum: [open, inProgress, resolved, closed]
          default: open
          description: Статус обращения
          example: "open"
        createdAt:
          type: string
          format: date-time
          description: Дата создания (ISO 8601)
          example: "2025-08-24T16:00:00Z"
        replyCount:
          type: integer
          default: 0
          description: Количество ответов поддержки
          example: 0

  responses:
    Unauthorized:
      description: Не авторизован — отсутствует или недействителен токен
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Not found"
